@use '../base/variables';
@use '../base/mixins';

.banner {
  text-align: center;
  padding: 4rem 2rem;
  background-color: variables.$primary-color;
  color: variables.$secondary-color;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    @include mixins.respond-to('small') {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    @include mixins.respond-to('small') {
      font-size: 1.2rem;
    }
  }
}
