@use '../base/variables';
@use '../base/mixins';

.cards-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: nowrap;
}

.card {
  text-align: center;
  padding: 2rem;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  flex-basis: calc(33.333% - 2rem);

  @include mixins.respond-to('small') {
    flex-basis: 100%;
  }

  @include mixins.respond-to('medium') {
    flex-basis: calc(50% - 2rem);
  }

  &__icon {
    font-size: 3rem;
    color: variables.$primary-color;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    color: variables.$text-color;
  }
}
