@use '../base/variables';
@use '../base/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;

  &__logo {
    .logo {
      width: 200px;
      height: auto;
      margin-left: 1rem;
    }
  }

  &__nav {
    @include mixins.respond-to('small') {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: white;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);

      &--open {
        display: block;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 1rem;

        a {
          color: variables.$text-color;
          text-decoration: none;

          &:hover {
            color: variables.$primary-color;
          }
        }
      }

      @include mixins.respond-to('small') {
        flex-direction: column;
        align-items: center;

        li {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    button {
      border: none;
      background: variables.$primary-color;
      color: white; // Cambia este color al deseado
      cursor: pointer;
      border-radius: 12px;

      &:hover {
        color: variables.$secondary-color; // Cambia este color al deseado para el hover
      }
    }

    @include mixins.respond-to('small') {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: white;
      padding: 1rem;
      box-shadow: 0 2px 4px rgb(255, 255, 255);

      &--open {
        display: flex;
      }
    }
  }

  &__menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    @include mixins.respond-to('small') {
      display: block;
    }
  }
}
