@use '../base/variables';
@use '../base/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  &__logo {
    .logo {
      width: 200px;
      height: auto;
      margin-left: 1rem;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: left; // Centra los links
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-left: 2rem;
      
      li {
        margin-right: 1rem;
        align-items: left;

        a {
          color: variables.$text-color;
          text-decoration: none;

          &:hover {
            color: variables.$primary-color;
          }
        }
      }
    }

    @include mixins.respond-to('small') {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: white;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &--open {
        display: block;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    button {
      border: none;
      background: variables.$primary-color;
      color: white;
      cursor: pointer;
      border-radius: 12px;
      padding: 0.5rem 1rem;

      &:hover {
        color: variables.$secondary-color;
      }
    }
  }

  &__menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    @include mixins.respond-to('small') {
      display: block;
    }
  }
}
