@use '../base/variables';
@use '../base/mixins';

.sidebar {
    width: 16rem;
    height: 100vh;
    background-color: variables.$primary-color;
    display: flex;
    flex-direction: column;
    position: relative;

    .user-info {
      padding: 1rem;
      @include mixins.flex-center;

      .avatar {
        width: 3rem;
        height: 3rem;
        background-color: variables.$text-color-sidebar;
        color: variables.$primary-color;
        border-radius: 50%;
        padding: 0.5rem;
        margin-right: 1rem;
      }

      .user-details {
        h2 {
          font-weight: bold;
          margin: 0;
        }
        p {
          font-size: 0.875rem;
          margin: 0;
        }
      }
    }

    nav {
      margin-top: 2rem;

      a {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        color: variables.$text-color-sidebar;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover, &.active {
          background-color: darken(variables.$primary-color, 5%);
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
          margin-right: 0.5rem;
        }
      }
    }
  }